.heading-row{
  padding-bottom: 7rem;
}
.page-heading {
  color: #000000;
  font-family: "Helvetica Neue";
  font-size: 48px;
  font-weight: bold;
  line-height: 58px;
  margin-bottom: 25px;
}
.page-heading > span{
  color: darkgrey;
}
.meds-table {
  padding: 3rem 1.5rem;
  text-align: left;
}
#lastup-date{

}
#lastup-time{

}
